body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(189, 14%, 45%);
}
.stopwatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 25%;
    padding: 30px;
    background-color: white;
}
.display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
    margin-bottom: 25px;
}
.controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 120px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}
.start-button{
    background-color: hsl(115, 100%, 40%);
}
.start-button:hover{
    background-color: hsl(115, 100%, 25%);
}
.stop-button{
    background-color: hsl(10, 90%, 50%);
}
.stop-button:hover{
    background-color: hsl(0, 90%, 40%);
}
.reset-button{
    background-color: hsl(200, 83%, 57%);
}
.reset-button:hover{
    background-color: hsl(200, 90%, 40%);
}
.reset-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.5;
}
.lap-button{
    background-color: hsl(328, 83%, 35%);
}